.form {
  margin: 30px 0px 0px 10px;
  
}
.MuiCalendarPicker-root {
  background-color: rgba(247, 244, 242, 0.808);
  box-shadow: 10px 10px 20px black;
  margin: 30px 20px;
}

/* .checks>label{
.
} */

.bar-chart {
  height: 60vh;
  margin:10px ;
}
.MuiIconButton-root{
  width:14px;
}
.checks {
  /* display: flex !important; */
  flex-direction: row;
  display:block;
  font-size: 1.2rem;
  font-weight: bold;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
margin:0px 10px !important;
}
h1{
  margin:0px 10px;
}
.defect-log-table{
  margin: 0px 0px;
}
