.historylog-css{
    background-color:white;
    width:100%;
}
.historylog-css:hover,.historylog-css:active,.historylog-css::after{
    background-color: white;
}
.pages{
    float:right;
    margin: 1rem;
  

}
.historytable{
    
  width: 89vw;
  height: 55vh;
 background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0.2rem 0.2rem #003e6129;
  border: 1px solid #e4e4e4;
  border-radius: 1rem;
  opacity: 1;
  padding: 1rem 1rem 1rem 1rem;
  align-content: center;
  margin:  1rem; 
  scroll-behavior: smooth;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: auto;
  /* font: normal normal normal 16px/5px Roboto; */
  overflow-y: scroll;
 
}
.pagebutton{
    height:5vh;
    padding:0.5rem;
    background-color: #0f206c;
    color: white;
}
.history-filter{
    width: 89vw;
    height: 15vh;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0.2rem 0.2rem #003e6129;
    border: 1px solid #e4e4e4;
    border-radius: 1rem;
    opacity: 1;
    /* padding: 1rem 1rem 1rem 1rem; */
    align-content: center;
    margin:  1rem; 
    padding: 1rem;
}
.history-input{
    width: 15vw !important;
    height:6vh !important;
    margin:1rem !important;
    /* padding: 2rem !important; */
    border: #212121 !important;
    border-width: 1px !important;
}
.history-submitbtn{
    width: 10vw;
    height:6vh;
    margin:1.2rem;
    background-color: #0f206c;
    color: white;
}
.thf {
    color: #0f206c;
    font-size: 1rem;
    padding: 1rem 1rem 0.3rem 2rem;
    justify-content: space-evenly;
    font-weight: bold;
    font-stretch: 1rem;
    text-align: left;
    width: 12vw;
    border-bottom: 1px solid #212121;
    /* border-style: outset; */
    /* border-style:solid ;
    border-bottom: 1px solid #212121;
    border:0px 0px 1px 0px; */
    
  }
  .tdf{
    color: black;
    font-size: 0.8rem;
    padding: 1rem 1rem 0.3rem 2rem;
    justify-content: space-evenly;
    font-weight: bold;
    /* font-stretch: 1rem; */
    text-align: left;
    width: 12vw;
   
  }